@charset "utf-8";

div.main-container {
    padding: 50px 0;
}

div.accordion-group {
    .accordion-heading {
        a.accordion-toggle {
            background-color: #0088cc;
            color: #fff;
        }
    }
}